<p id="notice"><%= notice %></p>

<p>
  <b>Vendor type:</b>
  <%= @video.vendor_type %>
</p>

<p>
  <b>Vendor:</b>
  <%= @video.vendor_id %>
</p>

<p>
  <b>Title:</b>
  <%= @video.title %>
</p>

<p>
  <b>Description:</b>
  <%= @video.description %>
</p>

<p>
  <b>Url:</b>
  <%= @video.url %>
</p>

<p>
  <b>Upload date:</b>
  <%= @video.upload_date %>
</p>

<p>
  <b>Mobile url:</b>
  <%= @video.mobile_url %>
</p>

<p>
  <b>Thumbnail small:</b>
  <%= @video.thumbnail_small %>
</p>

<p>
  <b>Thumbnail medium:</b>
  <%= @video.thumbnail_medium %>
</p>

<p>
  <b>Thumbnail large:</b>
  <%= @video.thumbnail_large %>
</p>

<p>
  <b>User name:</b>
  <%= @video.user_name %>
</p>

<p>
  <b>User url:</b>
  <%= @video.user_url %>
</p>

<p>
  <b>User portrait small:</b>
  <%= @video.user_portrait_small %>
</p>

<p>
  <b>User portrait medium:</b>
  <%= @video.user_portrait_medium %>
</p>

<p>
  <b>User portrait large:</b>
  <%= @video.user_portrait_large %>
</p>

<p>
  <b>User portrait huge:</b>
  <%= @video.user_portrait_huge %>
</p>

<p>
  <b>Stats number of likes:</b>
  <%= @video.stats_number_of_likes %>
</p>

<p>
  <b>Stats number of plays:</b>
  <%= @video.stats_number_of_plays %>
</p>

<p>
  <b>Stats number of comments:</b>
  <%= @video.stats_number_of_comments %>
</p>

<p>
  <b>Duration:</b>
  <%= @video.duration %>
</p>

<p>
  <b>Width:</b>
  <%= @video.width %>
</p>

<p>
  <b>Height:</b>
  <%= @video.height %>
</p>

<p>
  <b>Tags:</b>
  <%= @video.tags %>
</p>

<p>
  <b>Embed privacy:</b>
  <%= @video.embed_privacy %>
</p>


<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
